apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-blue
  namespace: demo
spec:
  replicas: 0
  selector:
    matchLabels:
      app: demo-app
      version: blue
  template:
    metadata:
      labels:
        app: demo-app
        version: blue
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80