apiVersion: v1
kind: Service
metadata:
  name: demo-service
  namespace: demo
spec:
  type: ClusterIP
  selector:
    app: demo-app
    version: green
  ports:
  - port: 80
    targetPort: 80
